<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <hr class="primary">
                <p>Sígueme en:</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://www.youtube.com/channel/UCVFqCW_jkwSlkhlrre2ZMvw">
                <i class="fa fa-youtube fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>YouTube</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://www.instagram.com/{{ site.instagram_username }}">
            <i class="fa fa-instagram fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>Instagram</p>
            </a>
        </div>
        
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://facebook.com/{{ site.facebook_username }}">
            <i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>Facebook</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-5 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>

    </div>
</section>
