<style>
    @font-face {
        font-family: beeFont;
        src: url('fonts/sonsieone-regular.ttf');
    }
   
    .header-content {
     font-family: beeFont;
   }
   </style>

<header>
    <iframe class="header-video" src="https://www.youtube.com/embed/jxHTwY9HbKs?controls=0&autoplay=1&mute=1&loop=1"> </iframe>

    <div class="header-content">
        <div class="header-content-inner">
            <h1>Gas Bee Garage</h1>
            <hr>
            <img src="img/logo_bee_w.png" alt="Flowers in Chania">
            <p>¡Desliza!</p>
        </div>
    </div>
</header>
